/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

textarea {
    resize: none;
}

input,
textarea {
    display: block;
    width: 70%;
    border-radius: 3px;
    border: none;
    padding: .7rem .8rem;
    margin: .5rem 0;
}

::placeholder {
    color: rgb(36, 35, 35);
}

input[type="submit"] {
    background-color: orange;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
    color: black;
}

p {
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.75);
}

section:nth-child(1)>div,
section:nth-child(4)>div,
section:nth-child(5)>div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

section:nth-child(1),
section:nth-child(4),
section:nth-child(5) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

section {
    position: relative;
}

section:nth-child(1) {
    background-image: linear-gradient(178deg,
            rgba(48, 47, 47, 0.6),
            rgba(36, 35, 35, 0.5)),
        url("./img/12.jpg");
    height: 100vh;
}

section:nth-child(1)>div>div>input {
    display: inline-block;
}

section:nth-child(1)>div>div {
    background-color: rgba(0, 0, 0, 0.801);
    height: 54px;
    width: 520px;
    margin: 1rem auto;
    border-radius: 3px;
}

section:nth-child(1)>div {
    height: 200px;
    width: 70%;
    text-align: center
}


section:nth-child(1)>div>div>input:last-child {
    background-color: rgb(120, 211, 241);
    width: 30%;
}

section:nth-child(1)>div>div>input:first-child {
    width: 60%
}

section:nth-child(2) {
    background-color: rgb(236, 231, 231);
    width: 100%;
}

section:nth-child(2)>div {
    padding: 10vh 0 3vh 0;
    width: 100%;
    text-align: center;
}

section:nth-child(2)>div>div {
    display: inline-block;
    width: 220px;
    margin: 1% 6%;
}

section:nth-child(2)>div>div>input {
    margin: 0 auto;
}

section:nth-child(2)>div>div>img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section:nth-child(2)>div>div>p {
    color: rgba(0, 0, 0, 0.575);
}

section:nth-child(3) {
    background-color: rgb(187, 181, 181);
    width: 100%;
}

section:nth-child(3)>div {
    padding: 15vh 0;
    text-align: center;
}

section:nth-child(3)>div>div {
    min-height: 240px;
}

section:nth-child(3)>div>div>div {
    display: inline-block;
    width: 220px;
    vertical-align: top;
    margin: 0 2%;
}

section:nth-child(3)>div>div:nth-child(1)>div {
    text-align: left;
}

section:nth-child(3)>div>div:nth-child(2)>div>img {
    text-align: left;
    width: 80px;
}

section:nth-child(3)>div>div>div>img {
    width: 50px;
}

section:nth-child(3)>div>div>div>p {
    color: rgba(0, 0, 0, 0.575);
}

section:nth-child(4) {
    background-image: linear-gradient(178deg,
            rgba(48, 47, 47, 0.6),
            rgba(36, 35, 35, 0.5)),
        url("./img/project1.jpg");
    height: 80vh;
}

section:nth-child(4)>div {
    height: 350px;
    font-size: 0;
    width: 1100px;
}

section:nth-child(4)>div>div {
    display: inline-block;
    font-size: 1rem;
    float: left;
    width: 550px;
}

section:nth-child(4)>div>div:nth-child(1) {
    padding-top: 3rem;
}


section:nth-child(4)>div>div:nth-child(2) {
    padding-left: 3rem;
}

section:nth-child(5) {
    background-image: linear-gradient(178deg,
            rgba(48, 47, 47, 0.6),
            rgba(36, 35, 35, 0.5)),
        url("./img/react1.jpg");
    height: 80vh;
    clear: both;
}

section:nth-child(5)>div {
    height: 200px;
    width: 1100px;
    padding-right: 30rem;
}


section:nth-child(5)>div>input {
    width: 20%;
}