/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}


textarea {
    resize: none;
}

input,
textarea {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: none;
    padding: .7rem .8rem;
    margin: .5rem 0;
}

::placeholder {
    color: rgb(36, 35, 35);
}

input[type="submit"] {
    background-color: orange;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1rem 0;
    color: black;
}

p {
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.75);
}

.bg {
    width: 70%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

#section1,
#section4,
#section5 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

section {
    position: relative;
}

#section1 {
    background-image: linear-gradient(178deg,
            rgba(48, 47, 47, 0.6),
            rgba(36, 35, 35, 0.5)),
        url("./img/12.jpg");
    height: 100vh;
}

.positionWithBg1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.input-cont>input {
    display: inline-block;
}

.input-cont {
    background-color: rgba(0, 0, 0, 0.801);
    height: 54px;
    width: 520px;
    margin: 1rem auto;
    border-radius: 3px;
}

#section1>div {
    height: 200px;
    width: 70%;
    text-align: center
}


.input-cont input[type="submit"] {
    background-color: rgb(120, 211, 241);
    width: 30%;
}

.input-cont input[type="text"] {
    width: 60%
}

#section2 {
    background-color: rgb(236, 231, 231);
    width: 100%;
}

.positionWithBg2 {
    padding: 10vh 0 3vh 0;
}

.sec2Content {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 1% 9%;
}

.sec2Content:first-child {
    margin-left: 0;
}

.sec2Content:last-child {
    margin-right: 0;
}

.sec2Content>input {
    width: initial;
    margin: 0 auto;
}

.sec2Content>img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

#section2 p {
    color: rgba(0, 0, 0, 0.575);
}

#section3 {
    background-color: rgb(187, 181, 181);
    width: 100%;
}

.positionWithBg3 {
    padding: 10vh 0;
}

.contentRow {
    padding: 5vh 0;
}

.sec3Content {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin: 0 3.1%;
}

.sec3Content:first-child {
    margin-left: 0;
}

.sec3Content:last-child {
    margin-right: 0;
}


.secondRow img {
    width: 80px;
}

.firstRow img {
    width: 50px;
}

#section3 p {
    color: rgba(0, 0, 0, 0.575);
}

#section4 {
    background-image: linear-gradient(178deg,
            rgba(48, 47, 47, 0.6),
            rgba(36, 35, 35, 0.5)),
        url("./img/project1.jpg");
}

.positionWithBg4 {
    padding: 30vh 0;
    font-size: 0;
}

.textContainer {
    width: 40%;
    vertical-align: top;
    padding-top: 3rem;
}

.formContainer {
    width: 60%;
    padding-left: 10vw;
}

.positionWithBg4>div {
    display: inline-block;
    font-size: 1rem;

}

#section5 {
    background-image: linear-gradient(178deg,
            rgba(48, 47, 47, 0.6),
            rgba(36, 35, 35, 0.5)),
        url("./img/react1.jpg");
}

.positionWithBg5 {
    padding: 30vh 20vw 30vh 0;
}

.positionWithBg5 input {
    width: 20%;
}